/* Footer.css */
/* .footer {
    background-color: #f8f9fa;
  } */
  
  .navLinks {
    color: #000;
  }
  
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  
  footer {
    width: 100%;
  }
  